{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
    <li class="breadcrumb-item"><a href="#">Смартфоны</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
  </ol>
</nav>
<div class="row mt-5">
    <div class="col-md-4">
        <img src="{{ item.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h1>{{ item.title }}</h1>
        <p><strong>Цена:</strong> {{ item.price }} грн</p>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputQuantity">Количество:</label>
                <input type="number" value="{{ item.qty }}">
            </div>
            <div class="form-group">
                <label for="exampleInputQuantity">Выберите продавца</label>
                <select class="form-select" aria-label="Default select example">
                      {% for employee in employees %}
                      <option>{{ employee.first_name }}</option>
                      {% endfor %}
                </select>
            </div>
        </form>
        <p><strong>Описание:</strong> {{ item.description }}</p>

    </div>

</div>

{% endblock content %}
